include ../../global.jade
doctype html
html
	head
		+head
	body(style="background:white")
		div.w8.box.p10
			h1(style="border-bottom-style:inset;font-family:'Lobster'")
				a(href="#{ruta}").cpri FreeMarket
			ul
				li
					label ads
				li
					label ads
				li
					label ads
				li
					label ads
			a(href="#{ruta}").cpri.m7 Imprimir
			a(href="#{ruta}").cpri.m7 Regresar

	